


#<IfModule mod_headers.c>
#Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
#Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
#Header always set Referrer-Policy "no-referrer" 
# </IfModule>

#Access-Control-Allow-Origin: *

AuthType Basic
AuthName "Protected 'dev.hashroot.org'"
AuthUserFile "/home/hashorg/.htpasswds/dev.hashroot.org/passwd"
Require valid-user




<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]
</IfModule>

#Order allow,deny
#Allow from all
#Satisfy any



Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
