@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,800;0,900;1,200;1,300;1,700;1,800;1,900&display=swap");

body {
  font-family: "Courgette", cursive;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f8f8f8;
  overflow: hidden;
}
.topheader {
  position: fixed;
  top: 0;
  height: 30vh;
  width: 100%;
  background-image: url('../images/contactbg.png');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(14, 4, 82, 0.76);
}

.topheader-content {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.avatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  
}
.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.avatar-sm:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.521);
  transition: all 0.3s ease-in-out;
}

.centered-content {
  margin: auto;
  position: absolute;
  /* margin-top: 6rem; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85vh;
}
.rounded {
  border-radius: 0.8rem !important;
}

.btn-danger-gradient {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: white;
}

p {
  margin-bottom: 0 !important;
}
.table {
  border-collapse: separate;
  border-spacing: 0 5px;
  padding: 0 0.5rem;
  text-align: left;
  vertical-align: middle;
}
tr {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(53, 53, 53, 0.116);
}



tr td:last-child {
    
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
tr td:nth-child(2) {
    
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
tr:hover {
    background: linear-gradient(to right, #160891, #0b0353);
    cursor: pointer;
    color: #f5f5f5;
    transition: all 0.3s ease-in-out;
  }

.tablediv {
  padding: 0.5rem 0;
}

.react-bootstrap-table .table-bordered {
  border-top: none;
}

.react-bootstrap-table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-top: none;
}

/* .react-bootstrap-table th::before {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  width: calc(100% + 2px);
  height: 1px;
  background-color: #dee2e6;
}

.react-bootstrap-table th::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: calc(100% + 2px);
  height: 1px;
  background-color: #dee2e6;
} */

.react-bootstrap-table {
  height: 70vh;
  overflow-y: scroll;
}

.react-bootstrap-table::-webkit-scrollbar,.viewtab::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.react-bootstrap-table::-webkit-scrollbar-track,.viewtab::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(78, 78, 78, 0.3);
}

.react-bootstrap-table::-webkit-scrollbar-thumb ,.viewtab::-webkit-scrollbar-thumb{
  background-color: rgb(88, 88, 88);
  /* outline: 1px solid slategrey; */
}
.selection-cell,
.selection-cell-header {
  display: none;
}

.contact-details-container{
  background-image: url('../images/contactbg.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin:0 auto;
  width: 100%;
  height:10%;
  border-radius: 10px 10px 0px 0px;
}


.addcontactbtn{
  border-radius: 50%;
  background:linear-gradient(to right, #ff4b2b, #f11649);
  box-shadow: #f116494d 0 0 10px;
  color: white;
  position: absolute;
  margin: 1rem 2rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  bottom: 0;
  right: 0;
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.close-btn{
  border-radius: 50%;
  color: rgb(82, 82, 82);
  position: absolute;
  margin: 1rem 2rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#search-bar-0-label{
  display: none;
}
.addcontactbtn:hover{
  transform: rotate(180deg) scale(1.1);
  transition: all 0.3s ease-in-out;
}

.formsearch{
  border-radius: 2rem;
 background-color: #f8f8f8;
 border: none;
 padding: .5rem 2rem;
}


.text-primary{
  color: #0b0353!important;
}

.btn-success{
  background:linear-gradient(to right, #19a855, #0b7537);
  border: 0;
  padding: .5rem 1rem;
  border-radius: 6px;
}
.btn-danger{
  background:linear-gradient(to right, #ff4b2b, #f11649);
  border: 0;
  padding: .5rem 1rem;
  border-radius: 6px;
}
.card{
  border: 0;
  box-shadow: 0 0 8px #4e4e4e38;
}
.card:hover{
  border: 0;
  box-shadow: 0 0 12px #4e4e4e38;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: linear-gradient(to right, #160891, #0b0353);
  border-radius: 6px;
}

.nav-fill{
  background: #1608910e;
  padding:3px;
  cursor: pointer;
  border-radius: 6px;
}

.nav-link{
  color: #160891;
}

.viewtab{
overflow-y: scroll;
overflow-x: hidden;
  height: 55vh;
}